h1, h2 {
   font-family: 'Roboto Condensed', sans-serif;
   background-color: rgb(193, 181, 247);
   font-weight: normal;
}

h1 {
   display: inline;
   padding: 15px;
}

h2 {
   background-color: white;
   border-bottom: 2px solid lightslategray;
}

.me {
   width: 200px;
   height: 250px;
}

.rick {
   width: 270px;
   height: 200px;
}

ul, li {
   list-style-type: none;
   display: inline-block;
}

.bio {
   display: inline-block;
   width: 800px;
   position: absolute;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;
   margin-top: 0px;
   height: 150px;
   right: -90;
}

p, form {
   font-family: 'Open Sans Condensed', sans-serif;
   line-height: 30px;
   font-size: 18px;
}

nav {
   display: inline-block;
   font-family: 'Open Sans Condensed', sans-serif;
}

label {
   display: block;
}

.textblock {
   width: 250px;
   height: 200px;
}

li {
   font-size: 13px;
   padding: 10px;
}

ul {
   margin-left: 650px;
}


.footer {
   text-align: center;
   background-color: rgb(193, 181, 247);
   bottom: 0;
   font-family: 'Roboto Condensed', sans-serif;
   position: fixed;
   border-top: 8px solid powderblue;
   min-width: 100%;

}

.content {
   margin-left: 30px;
   margin-right: 30px;
}

.button {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 14px;
   background-color: powderblue;
   border-radius: 4px;
}

a {
   text-decoration: none;
}

body {
   background-image: "assets/images/white-waves.png";
}